/* 도현체 */
@font-face {
  font-family: 'dohyeon';
  font-display: swap;
  src:
    url(./assets/font/BMDOHYEON_ttf.woff2) format('woff2'),
    url(./assets/font/BMDoHyeon.woff) format('woff');
}

/* 한나는열한살체 */
@font-face {
  font-family: 'hanna';
  font-display: swap;
  src:
    url(./assets/font/BMHANNA_11yrs_ttf.woff2) format('woff2'),
    url(./assets/font/BMHANNA11yrsold.woff) format('woff');
}

/* 한나Air체 */
@font-face {
  font-family: 'hannaAir';
  font-display: swap;
  src:
    url(./assets/font/BMHANNAAir_ttf.woff2) format('woff2'),
    url(./assets/font/BMHANNAAir.woff) format('woff');
}

/* 한나프로체 */
@font-face {
  font-family: 'hannaPro';
  font-display: swap;
  src:
    url(./assets/font/BMHANNAPro.woff2) format('woff2'),
    url(./assets/font/BMHANNAPro.woff) format('woff');
}

/* 주아체 */
@font-face {
  font-family: 'jua';
  font-display: swap;
  src:
    url(./assets/font/BMJUA_ttf.woff2) format('woff2'),
    url(./assets/font/BMJUA.woff) format('woff');
}

/* 연성체 */
@font-face {
  font-family: 'yeonsung';
  font-display: swap;
  src:
    url(./assets/font/BMYEONSUNG_ttf.woff2) format('woff2'),
    url(./assets/font/BMYEONSUNG.woff) format('woff');
}

body {
  margin: 0;
  line-height: 1;
  /* background-color: #f5f5f5; */
  background-color: #9b7660;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.fa-star {
  color: rgb(246, 246, 0);
}
